<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>MMS8L</title>
        <link rel="stylesheet" href="/st/style.css?">
        <script src="/st/master.js"></script>
    </head>
    <body>
        <header><div>MMS8L - 顧客情報変更</div></header>
        <div>
            <p><a href="{{ .ReturnPath }}">戻る</a></p>
            <form name="fm" onsubmit="editcus(); return false;">
                <input type="hidden" name="id" value="{{ .Customer.Id }}">
                <p><label>担当者名</label><input type="text" name="manager" maxlength="127" value="{{ .Customer.Manager }}" placeholder="山田太郎" required></p>
                <p><label>会社名</label><input type="text" name="corp" maxlength="127" value="{{ .Customer.Corp }}" placeholder="○○商事"></p>
                <p><label>メールアドレス</label><input type="email" name="email" maxlength="255" value="{{ .Customer.Email }}" placeholder="example@company.com" required></p>
                <p><label>電話番号</label><input type="tel" name="tel" maxlength="12" value="{{ .Customer.Tel }}" placeholder="000-0000-0000"></p>
                <p><label>メモ</label></p>
                <p><textarea name="memo" placeholder="自由に入力できます">{{ .Customer.Memo }}</textarea></p>
                <p style="text-align: center;"><button>更新</button></p>
            </form>
            <div style="min-height: 50px;"></div>
            <p><button onclick="delcus()" style="color: red; border-color: red;">この顧客データを削除する</button></p>
        </div>
        <script>
            function editcus() {
                let data = new FormData(document.fm);
                formDisabled(document.fm, true);
                put('/api/customer', data).then(res => {
                    if (res.result) {
                        alert('変更完了しました');
                    } else {
                        alert(res.message);
                    }
                    formDisabled(document.fm, false);
                }).catch(err => {
                    console.error(err);
                    alert('エラーにより追加に失敗しました。');
                    formDisabled(document.fm, false);
                });
            }

            function delcus() {
                if (confirm('この顧客を削除します。\nよろしいですか？')) {
                    del('/api/customer/{{.Customer.Id}}', null).then(res => {
                        if (res.result) {
                            alert('顧客を削除しました。');
                            location = '{{ .ReturnPath }}';
                        } else {
                            alert(res.message);
                        }
                    }).catch(err => {
                        console.error(err);
                        alert('エラーにより失敗しました。');
                    });
                }
            }
        </script>
    </body>
</html>
