<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>MMS8L</title>
        <link rel="stylesheet" href="/st/style.css?">
        <script src="/st/master.js"></script>
    </head>
    <body>
        <header><div>MMS8L - メール一括送信</div></header>
        <div>
            <p><a href="/top">戻る</a></p>
            <form name="fm" onsubmit="checkmail(); return false;">
                <p>
                    <label>送信先グループ</label>
                    <input type="search" placeholder="グループ名で検索" onkeydown="searchgroup(this, event)">
                </p>
                <div id="groups"></div>
                <input type="hidden" name="group">
                <p><label></label><input type="text" name="group_name" placeholder="グループ未選択" readonly></p>
                <p><label>件名</label><input type="text" name="title" maxlength="511" placeholder="件名"></p>
                <p><label>本文(HTML)</label></p>
                <textarea name="body" placeholder="HTML文を貼り付けてください"></textarea>
                <p style="text-align: center;"><button>送信</button></p>
            </form>
        </div>
        <div id="grayback" style="display: none;">
            <div>
                <h2>内容確認</h2>
                <p>グループ名: <span id="group_name"></span></p>
                <p>送信先: <span id="group_member"></span></p>
                <p>件名: <span id="title"></span></p>
                <hr>
                <div id="body"></div>
                <hr>
                <div>
                    <button onclick="closegray()">修正</button>
                    <button onclick="sendmail()">送信</button>
                </div>
            </div>
        </div>
        <script>
            if (new URL(location).searchParams.get('resend') != null) {
                document.fm.group_name.value = sessionStorage.getItem('group_name');
                document.fm.group.value = sessionStorage.getItem('group_id');
                document.fm.title.value = sessionStorage.getItem('title');
                document.fm.body.value = sessionStorage.getItem('body');
            }

            function searchgroup(inp, e) {
                k = e.key;
                if (k == 'Enter') k = '';
                if (k.length > 1) return;
                if (inp.value + k != "") {
                    get('/api/group', {'q': inp.value + k}).then(res => {
                        if (res.result) {
                            document.getElementById('groups').innerHTML = '';
                            res.group.forEach(g => {
                                let btn = document.createElement('input');
                                btn.setAttribute('type', 'button');
                                btn.value = g.group_name;
                                btn.addEventListener('click', () => {
                                    document.fm.group.value = g.id;
                                    document.fm.group_name.value = g.group_name;
                                    document.getElementById('groups').innerHTML = '';
                                    inp.value = '';
                                });
                                document.getElementById('groups').appendChild(btn);
                            });
                        } else {
                            alert(res.message);
                        }
                    }).catch(err => {
                        alert("エラーにより検索に失敗しました");
                    });
                }
            }

            let data = null;

            function checkmail() {
                if (document.fm.group.value == '') {
                    alert('送信先グループが選択されていません。');
                    return;
                }
                if (document.fm.title.value == '') {
                    alert('件名が入力されていません。');
                    return;
                }
                if (document.fm.body.value == '') {
                    alert('本文が入力されていません。');
                    return;
                }
                data = new FormData(document.fm);
                get('/api/member', {'id': document.fm.group.value}).then(res => {
                    if (res.result) {
                        document.getElementById('grayback').removeAttribute('style');
                        document.getElementById('group_name').innerText = document.fm.group_name.value;
                        members = [];
                        res.customer.forEach(c => {
                            members.push(c.manager + '(' + c.email + ')');
                        })
                        document.getElementById('group_member').innerText = members.join(', ');
                        document.getElementById('title').innerText = document.fm.title.value;
                        document.getElementById('body').innerHTML = document.fm.body.value;
                    } else {
                        alert(res.message);
                    }
                }).catch(err => {
                    console.error(err);
                    alert('エラーによりグループ情報の取得に失敗しました。');
                });
            }

            function closegray() {
                document.getElementById('grayback').style.display = 'none';
            }

            function sendmail() {
                if (data == null) {
                    alert("再度開き直してください");
                    return
                }
                formDisabled(document.fm, true);
                post('/api/mail', data).then(res => {
                    if (res.result) {
                        alert('送信完了しました。');
                        location = '/top';
                    } else {
                        alert(res.message);
                        formDisabled(document.fm, false);
                    }
                }).catch(err => {
                    console.error(err);
                    alert('エラーにより送信に失敗しました。');
                    formDisabled(document.fm, false);
                });
            }
        </script>
    </body>
</html>
