<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>MMS8L</title>
        <link rel="stylesheet" href="/st/style.css?">
        <script src="/st/master.js"></script>
    </head>
    <body>
        <div>
            <h1>メニュー</h1>
            <div>
                <p><a href="/customer?p=1&s=id">顧客リスト</a></p>
                <p><a href="/group">顧客グループ</a></p>
                <p><a href="/mail">一括送信</a></p>
                <p><a href="/history">送信履歴</a></p>
                <p><a href="/link?p=1">リンククリックログ</a></p>
                <p><a href="/logout">ログアウト</a></p>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>
